body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #002f6c;
    color: #fff;
    z-index: 1000;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.main-container {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}

h2, h3 {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #002f6c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3c72;
}

footer {
    text-align: center;
    padding: 8px;
    background: #002f6c; /* Dark blue background */
    color: #fff;
    font-size: 1em; /* Smaller font size */
    box-shadow: 0 -4px 8px rgba(0,0,0,0.3); /* Add shadow for depth */
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #e0f7fa; /* Light blue color on hover */
}

